*{
    margin: 0;
 }
 body{
    background-color: rgb(4, 23, 63);
 }

 main{ 
     width: 80%;
     height: 100%;
     margin: 0 auto;
     background-image:url("IMAGENES/encryptador.jpg")
 }
 .container{
    display: flex;
    flex-wrap: wrap;
 }
 .item{
    flex: 1 0 400px;
    margin: 10px;
 }
 #sec-1{
 
 }
 
 .txtArea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
    background-color: transparent;
    color: aqua;
    display: block;
    border: 3px solid aqua;
 }
 #letMinu{
     color:mediumaquamarine;
     display: block;
     
 }
 #div-2{
     position: relative;
     margin-top: 20px;
     width: 30%;
     color: aliceblue;
     display: inline-block;
    
 }
 .logo{
     height: 100px;
     width: 100px;
 }
 #muñeco{
     position:absolute;
     top: 0px;
     right: 0px;
     height: 100%;
     width: 50%;
    
   
 }
 
 #div-3{
    
   
     display: block;
     align-items: center;
     width: 30%;
     height: 150px;
     margin-left: 100px;
 }
 
 #btnEncriptar{
     padding: 10px 100px;
     margin: 0px auto;
     
 }
 #btnDesencriptar{
     padding: 10px 90px;
     margin: auto;
    
 }
 #div-3 img{
     display: block;
     padding-left: 100px;
     height: 50px;
     width: 50px;
 }

